mixin section(className=false, titleSection=title, wide=false, titleH1=false)
  section.m-section(class=className, class={'m-section--full' : wide})&attributes(attributes)
    .m-section__wrapper.l-container(class=`${className}__wrapper`)
      if titleSection
        if titleH1
          h1.m-section__title.font-h1!= titleSection
        else
          h2.m-section__title.font-h2!= titleSection

      if block
        block
