-
  const headerMenu = [
    { title: 'State of Mind', link: '#', active: true, submenu: [
      { title: 'Детский сад', link: '#' },
      { title: 'Начальная школа', link: '#' },
      { title: 'Поступление', link: '#' },
    ] },
    { title: 'Explore', link: '#' },
    { title: 'Our Team', link: '#' },
  ]

header.s-header
  .l-container.s-header__wrapper
    a.s-header__logo(href="")
      img.s-header__logo-image(src="./img/global/logo-header.svg", alt="")

    nav.s-header__nav
      ul.s-header__navigation
        each itemMenu in headerMenu
          li.s-header__navigation-item
            a.s-header__navigation-link(href=itemMenu.link, aria-label=itemMenu.title, title=itemMenu.title, class={'is-active' : itemMenu.active})
              span= itemMenu.title
            if itemMenu.submenu
              ul
                each item in itemMenu.submenu
                  li
                    a(href=item.link, aria-label=item.title)=item.title
        li.s-header__navigation-item
          a.s-header__navigation-link(href="#") SAVVA’s
            +svgMono("legacy")
        li.s-header__navigation-item.s-header__navigation-item--request
          a.s-header__navigation-link(href="#") Request Invitation
    .s-header__right-col
      a.s-header__request(href="") Request Invitation
      .s-header__actions
        //- a.s-header__actions-item.s-header__actions-lk(href="#" aria-label="Поиск" title="Личный кабинет")
          //- +svgMono("ic-lk")
        //- a.s-header__actions-item.s-header__actions-search(href="#" aria-label="Поиск" title="Поиск")
        //-   +svgMono("ic-search")
        //- .s-header__actions-item.s-header__actions-item--languages
        button.s-header__language-button(type="button")
          span En
          <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="path-1-inside-1_5511_2980" fill="white">
            <path d="M7 3.5L3.5 7L7.10124e-08 3.5L3.5 -2.59522e-07L7 3.5Z"/>
            </mask>
            <path d="M3.5 -2.59522e-07L4.20711 -0.707107L3.5 -1.41421L2.79289 -0.707107L3.5 -2.59522e-07ZM0.707107 4.20711L4.20711 0.707107L2.79289 -0.707107L-0.707107 2.79289L0.707107 4.20711ZM2.79289 0.707107L6.29289 4.20711L7.70711 2.79289L4.20711 -0.707107L2.79289 0.707107Z" fill="#1F1E20" mask="url(#path-1-inside-1_5511_2980)"/>
          </svg>
        button.s-header__actions-item.s-header__burger(type="button" aria-label="Меню" title="Меню")
          +svgMono("ic-menu")
    .s-header__languages
      a.s-header__languages-item.font-menu(href="#" aria-label="Русский (Ru)" title="Русский (Ru)") Русский (Ru)
      a.s-header__languages-item.font-menu.is-active(href="#" aria-label="English (En)" title="English (En)") English (En)

//- .m-modal-menu
//-   .m-modal-menu__wrapper.animated.zoomIn
//-     button.m-modal-menu__close(type="button")
//-       +svgMono("ic-close")
//-     .m-modal-menu__content
//-       .m-modal-menu__header
//-         a.m-modal-menu__logo(href="/")
//-           img(src="./img/global/footer-logo-mobile.svg", alt="")
//-       .m-modal-menu__info
//-         nav.m-modal-menu__nav
//-           ul.m-modal-menu__navigation
//-             each itemMenu in headerMenu
//-               li.m-modal-menu__navigation-item
//-                 a.m-modal-menu__navigation-link.font-menu(href=itemMenu.link, aria-label=itemMenu.title, title=itemMenu.title, class={'is-active' : itemMenu.active})
//-                   span= itemMenu.title
//-         .m-modal-menu__info-item.font-text-s Москва, ул. 2-ая Звенигородская дом, 12 стр. 26
//-         .m-modal-menu__info-item.font-text-s Детский сад расположен на территории жилого комплекса  “LUCKY”
//-         .m-modal-menu__info-item.font-text-s
//-           a(href="tel:+74993466710") +7 499 346 67 10
//-           a(href="mailto:study@laberezka.com") study@laberezka.com

//- .m-modal-search
//-   .m-modal-search__wrapper.animated.zoomIn
//-     button.m-modal-search__close(type="button")
//-       +svgMono("ic-close")
//-     .m-modal-search__content
//-       form.m-modal-search__form(action="")
//-         label.m-modal-search__form-label(for="")
//-           input.m-modal-search__form-input(type="text", placeholder="Введите ваш запрос")
//-         .m-modal-search__button
//-           +svgMono("ic-search")
