mixin m_content_section(className=false, title=title, image=image, reverse=false)
  section.m-content-section(class=className)&attributes(attributes)
    .m-content-section__wrapper(class=`${className}__wrapper` class={'m-content-section__wrapper--reverse' : reverse})
      .m-content-section__image
        img.m-content-section__image-bg(src=image)
      .m-content-section__info
        .l-container
          .m-content-section__information
            if title
              h2.m-content-section__title.font-h2!= title
            if block
              .m-content-section__content
                block
